<div class="search-form">
    {{!-- Form default behavior
        method: tùy chỉnh method khi form submit - mặc định là GET
        action: tùy chỉnh route để thực hiện method khi submit - mặc định là trang hiện tại
        khi submit thì sẽ lấy name của input làm query param 
     --}}
    <form method="GET" action="/news">
        <div class="form-group">
            <label for="search-input">Search Infomation</label>
            <input type="text" class="form-control" name="q" id="search-input" aria-describedby="emailHelp" placeholder="Enter key">
        </div>
       
        <button type="submit" class="btn btn-primary">Search</button>
</form>
</div>